.App{
  height:100%;
}
.header {
  color: white;
  font-size: 1.1em;
  
}

.header .right > .flexrow > * 
{
  margin-right: 25px;
}
.label {
  padding: 0 5px;
}



.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flexrow h2,h3,h4
{
  color: white;
}
.right {
  margin-left: auto;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around; 
  height: 100%;
  
}
.flexcol span {
  flex: 1;
  max-height: 20px;
  line-height: 20px;
}

.user_info{
  color:white;
}
.vcenter {
  align-self: center; 
  /* 弹性盒子的居中属性 */
}
.Content{
  height:100%
}
